<mat-toolbar color="primary"> Spoolman Updater </mat-toolbar>

<div class="tray-container">
  @for (tray of trays; track tray; let index = $index) {
  <mat-card class="tray-card">
    <mat-card-header>
      <mat-card-title>Tray {{ index + 1 }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="trays">
      <div class="tray" [style]="{ 'background-color': tray.color }">

        <ng-container *ngIf="getCurrentSpool(tray) as currentSpool">
          
          <span>{{ currentSpool.filament.vendor.name }}</span>
          <span>{{ currentSpool.filament.material }}</span>
          <span>{{ currentSpool.filament.name }}</span>
          
          <div
            class="spool-color"
            [style.background-color]="'#' + currentSpool.filament.color_hex"
          >#{{ currentSpool.filament.color_hex }}</div>

          <span>Remaining: {{ currentSpool.remaining_weight }}g</span>
        </ng-container>

        <mat-form-field>
          <mat-label>Select a spool</mat-label>
          <mat-select
            [(value)]="tray.selectedSpool"
            (selectionChange)="onSpoolChange($event, tray)"
          >
            @for(spool of spools; track spool; let index = $index) {
            <mat-option [value]="spool.id">{{
              displaySpoolName(spool)
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

       
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="updateTray(tray)">Select</button>
    </mat-card-actions>
  </mat-card>
  }
</div>
