:host {
  color: white;
  margin: 24px;
  display: flex;
  flex-direction: column;

  .ams-container {
    display: flex;
    gap: 16px;
    padding: 24px;

    .ams-card {
      color: white;
      background-color: gray;

      .ams-card-content {
        display: flex;
        gap: 16px;
        padding: 16px;
      }
    }
  }

  mat-card + mat-card {
    margin-top: 16px;
  }

  @media (width <= 750px) {
    .ams-container {
      flex-direction: column;
      gap: 16px;
    }
  }
}
